* {
    margin: 0;

    /* size */
    --size-padding: 10px;

    /* color */
}

.app {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--size-padding) * 2);
    padding: var(--size-padding);
}

.app__header > h1 {
    color: #fc3c3c;
    font-size: 2rem;
}

.app__dropdown {
    background-color: white;
}

.app__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app__information > h3 {
    color: #6a5d5d;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
    margin-top: 1rem;
}

.app__stats {
    display: flex;
    justify-content: space-between;
    padding: var(--size-padding);
}

@media (max-width: 990px) {
    .app {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .app__stats {
        display: flex;
        flex-direction: column;
    }

    .MuiCard-root {
        margin-top: var(--size-padding);
    }

}